/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&family=Macondo&family=Poppins&family=Yanone+Kaffeesatz&display=swap");

/* General styling */
html {
  box-sizing: border-box;
  font-size: 1em;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h3 {
  font-family: "Abril Fatface", Lato, sans-serif;
  margin-bottom: 0;
}

h2 {
  font-family: Lato, sans-serif;
  margin: 0;
}

p {
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
}

.active {
  border-bottom: 3px solid red;
}

body {
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

/* Welcome and navigation bar */
#welcome h1 {
  font-size: 4rem;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  background-color: bisque;
  max-width: 1200px;
}

.nav-bar ul {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1200px;
  font-family: Lato, sans-serif;
  font-size: 2.5rem;
  padding: 0;
}

.nav-bar li {
  display: flex;
  list-style: none;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.nav-bar li a {
  text-decoration: none;
  padding: 10px;
}

.nav-bar li:hover {
  width: 100%;
  background-color: bisque;
}

/* main section */
.frame {
  max-width: 1200px;
  margin: 0 auto;

  background-color: bisque;
  padding-top: 20px;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

.freedom-section {
  display: flex;
  align-items: center;
}

.text-part {
  padding: 0 20px;
  max-width: 600px;
}

#ouroffers:hover {
  letter-spacing: 2px;
}

/* Map-section */
.map-container {
  display: flex;
  height: auto;
  max-width: 1200px;
  margin: 40px auto;
  align-items: center;
  justify-content: space-around;
}

.g-maps {
  width: 600px;
  height: 400px;
}

#address {
  font-size: 1.2rem;
  font-family: sans-serif;
  padding: 10px;
  background-color: #F1F3F4;
  width: 100%;
}

th {
  text-align: end;
  padding-right: 12px;
}

/* footer and social media */
footer {
  background-color: #91e0c6;
  text-align: center;
  padding: 20px;
}

footer ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

footer li {
  list-style-type: none;
  margin: 0;
}

footer a {
  font-size: 3rem;
}

/* ____________________ offers.html ____________________ */

/* Text-offer */
.frame-offer {
  max-width: 1200px;
  margin: 0 auto;
  background-color: bisque;
}

.text-offer-1 {
  position: relative;
  background-image: url('../images/training.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  width: 100%;
  height: 350px;
}

.offer1 {
  background-color: rgba(255, 228, 196, 0.5);
  max-width: 500px;
  padding: 10px;
}

.text-offer-2 {
  display: flex;
  flex: 1;
}

.offer {
  text-align: center;
  max-width: 600px;
  flex: 1;
}

.image-offers {
  max-width: 400px;
}

/* packages offers */
.packages {
  display: flex;
  justify-content: center;
  padding: 5px;
  flex: 1;
}

.silver,
.gold,
.platinum {
  padding: 5px;
  text-align: center;
  background-color: #FFB027;
  margin: 10px;
  flex: 1;
  flex-wrap: wrap;
  line-height: 1rem;
}

.packages button {
  padding: 10px;
  width: 100%;
  font-size: 1rem;
  margin-top: 20px;
}

/* testamonial */
.testomonial {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px;
}

.seperator {
  border-bottom: 10px dotted rgba(0, 0, 0, 0.3);
  height: 1px;
  width: 60%;
  margin: 50px auto;
}

.quote {
  display: flex;
  align-items: center;
  width: 800px;
  margin-left: 20px;
}

.quote-quote::before {
  content: open-quote;
  font-size: 3rem;
  line-height: 0;
  position: absolute;
  font-family: "Franklin Gothic Medium", sans-serif;
}

.quote-quote::after {
  content: close-quote;
  font-size: 3rem;
  position: absolute;
}

.student-pic:first {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  margin-right: 20px;

}

.student-pic:last-of-type {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  margin-right: 20px;

}

/* ____________________ generalinfo.html ____________________ */
.good-to-know-text {
  padding: 10px !important;
}

.good-to-know-text h1 {
  margin-top: 0;
  font-size: 4rem;
  text-align: center;
  text-decoration: underline;
}

.good-to-know-text h3 {
  font-size: 2rem;

}

.good-to-know-text h2 {
  text-align: center;
  margin: 0;
}

#roadmap {

  display: flex;
  justify-content: center;
  margin-top: 20px;
}

details {

  border-radius: 4px;
  padding: .5em .5em 0;
}

summary {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
}


/* ____________________contact.html____________________ */


.form-frame {
  max-width: 800px;
  margin: 20px auto;
  background-color: bisque;
}

input[type="text"],
[type="email"],
[type="number"] {
  display: flex;
  width: 100%;
  padding: 5px;
  margin-bottom: 8px;
  border-radius: 5px;
}

input[type="checkbox"] {
  margin: 10px;
  scale: 1.5;
}

input:hover {
  background-color: rgb(176, 241, 220);
}

.form-title {
  font-size: 1.5rem;
  font-family: Lato, sans-serif;
}

label {
  font-size: 1.2rem;
  margin-bottom: 4px;
}

#textarea-title {
  margin: 12px 0 0;
}

textarea {
  margin: 0;
  max-width: 537px;
}

#send {
  width: 100%;
  padding: 20px;
  font-size: 1.5rem;
  border: inset;
  border-radius: 20px;
  background-color: #91e0c6;
  margin-top: 10px;
}

.intro-form {
  margin: 0 auto;
  max-width: 800px;
  border: dotted;
  align-self: stretch;
  background-image: url("https://creativelix.com/wp-content/uploads/2016/05/question-marks.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(182, 182, 182, 0.5);
}


/* media queries medium */

/* For medium screens size from 1200px wide and bigger  */
@media screen and (min-width: 1200px) {}

/* For medium screens size from 950px wide and smaller */
@media screen and (max-width: 950px) {
  .nav-bar ul {
    font-size: 1.7rem;
  }

  .frame {
    gap: 0;
    padding: 0;
  }

  .freedom-section {
    display: flex;
  }

  .text-container {
    padding: 10px;
  }

  .map-container {
    display: grid;
  }

  #welcome h1 {
    font-size: 2.5rem;
  }

  .good-to-know-text h1 {
    font-size: 3rem;
  }

  .good-to-know-text h3 {
    font-size: 1.5rem;
  }

  .good-to-know-text p {
    font-size: 1rem;
  }
}


/* For small screens size from 800px wide and smaller */
@media screen and (max-width: 800px) {
  #welcome h1 {
    font-size: 2rem;
  }

  .nav-bar ul {
    width: 100%;
  }

  .freedom-section {
    display: grid;
    padding: 10px;
  }

  img {
    width: 100%;
    max-width: 650px;
  }

  .freedom-section .skip-order {
    display: grid;
    order: -1;
  }

  .text-part {
    padding: 0;
  }
}

/* For small screens size from 650px wide and smaller */

@media screen and (max-width: 650px) {
  .nav-bar ul {
    display: inline-block;
    width: 100%;
  }

  #welcome h1 {
    font-size: 1.4rem;
  }

  .quote {
    flex-wrap: wrap;
  }

  .quote-quote {
    float: right;
  }

  .frame p,
  .frame-offer p {
    font-size: 1rem;
  }

  .map-container,
  .text-offer-2,
  .packages {
    flex-direction: column;
  }

  .g-maps {
    width: 400px;
    height: 250px;
  }

  .student-pic {
    scale: 0.8;
  }

  .good-to-know-text h1 {
    font-size: 2rem;
  }

  #send {
    font-size: 1rem;
  }
}

/* For small screens size from 400px wide and smaller */

@media screen and (max-width: 400px) {
  .g-maps {
    width: 254px;
    height: 150px;
  }

  #address {
    font-size: small;
  }
}