/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Alike&family=Epilogue&family=Open+Sans&display=swap");

/* General styling */
* {
    box-sizing: border-box;
    margin: 0;
   
}

h1,
h2,
h3 {
    font-family: Alike, Epilogue, sans-serif;
}

li,
a {
    list-style: none;
    text-decoration: none;
    font-family: Epilogue, sans-serif;
    font-weight: 500;

}

img {
    max-width: 100%;
}

/* navigation bar and header */
.nav-bar {
    background-color: #91e0c6;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav-bar ul {
    display: flex;
    text-align: center;
    justify-content: space-around;
    height: 3rem;
    align-items: center;
}

#welcome {
    font-size: 3rem;
    text-align: center;
}


/* main section/freedom-section */

.freedom-section {
    
    justify-content: center;
    background-color: #e9f1e4;

}
.main-container {
    display:flex;
}

.text-container {
    padding: 30px;
    align-items: center;
    max-width: 600px;
    justify-content: center;
    
}


/* map and address section */
.map-container {
    display: flex;
    align-items: center;
  justify-content: space-around;
  padding: 20px;
}

#address {
    font-size: large;
    font-family:sans-serif;
    margin-right: 2rem;
    width: 100%;
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.2);
    
}

th {
    text-align: end;
    padding-right: 12px;
}

.address li {
    margin: 12px;
}

/* footer section */

footer  {
        background-color: #91e0c6;
  text-align:center;
    padding: 20px;
    
}
footer li {
    display: inline;
    font-size: large;
    margin: 4%;
    
}
footer a {
    font-size: 2rem;
}