/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Alike&family=Epilogue&family=Open+Sans&display=swap");

/* General styling */
* {
    box-sizing: border-box;
    margin: 0;

}

h1,
h2,
h3 {
    font-family: Alike, Epilogue, sans-serif;
    margin-bottom: 5px;
}

p {
    font-family: Epilogue, sans-serif;
    line-height: 1.5rem;
}

li,
a {
    list-style: none;
    text-decoration: none;
    font-family: Epilogue, sans-serif;
    font-weight: 500;

}
nav-bar a:hover {
    border-bottom: 2px solid red;
}

img {
    max-width: 100%;
    margin: 10px;
}

body {
    background-color: #e8f3f1;
}

/* navigation bar and header */
.nav-bar {
    background-color: #91e0c6;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.nav-bar ul {
    display: flex;
    text-align: center;
    justify-content: space-around;
    height: 3rem;
    align-items: center;
}

#welcome {
    font-size: 3rem;
    text-align: center;

    background: linear-gradient(0deg,
            rgba(232, 243, 241, 1) 50%,
            rgba(145, 224, 198, 1) 100%);
}


/* main section/freedom-section */
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.freedom-section {
    font-family: ;
    justify-content: center;
    background-color: #e9f1e4;

}


.text-container {
    padding: 30px;
    align-items: center;
    max-width: 600px;
    justify-content: center;

}

.ouroffers a {
    color: red;
}

#ouroffers a:hover {
    text-decoration: dotted;


}

/* map and address section */
#map-section {
    display: flex;
    justify-content: center;
}

.map-container {
    display: flex;
    align-items: center;
    padding: 20px;
}

#address {
    font-size: large;
    font-family: sans-serif;
    margin-right: 2rem;
    width: 100%;
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.2);

}

th {
    text-align: end;
    padding-right: 12px;
}

.address li {
    margin: 12px;
}

/* footer section */

footer {
    background-color: #91e0c6;
    text-align: center;
    padding: 20px;

}

footer li {
    display: inline;
    font-size: large;
    margin: 4%;

}

footer a {
    font-size: 2rem;
}